*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**/__pycache__/


# remove model weights / dependencies
/app/src/main/assets/nn/
/app/src/main/cpp/opencv-mobile-android/
/app/src/main/cpp/ncnn-android-vulkan/